[package]
name = "nova-snark"
version = "0.1.0"
authors = ["Srinath Setty <srinath@microsoft.com>"]
edition = "2018"
description = "Recursive zkSNARKs without trusted setup"
documentation = "https://docs.rs/nova/"
readme = "README.md"
repository = "https://github.com/Microsoft/Nova"
license-file = "LICENSE"
keywords = ["Recursive zkSNARKs", "cryptography", "proofs"]

[dependencies]
merlin = "2.0.0"
rand = "0.7.3"
digest = "0.8.1"
sha3 = "0.8.2"
rayon = "1.3.0"
rand_core = { version = "0.5", default-features = false }
itertools = "0.9.0"
subtle = "2.4"

[dev-dependencies]
curve25519-dalek = {version = "3.0.0", features = ["simd_backend"]}