[package]
name = "nova-snark"
version = "0.4.2"
authors = ["Srinath Setty <srinath@microsoft.com>"]
edition = "2018"
description = "Recursive zkSNARKs without trusted setup"
documentation = "https://docs.rs/nova-snark/"
readme = "README.md"
repository = "https://github.com/Microsoft/Nova"
license-file = "LICENSE"
keywords = ["zkSNARKs", "cryptography", "proofs"]

[dependencies]
bellperson = { version = "0.20", default-features = false }
ff = { version = "0.11.0", features = ["derive"] }
merlin = "2.0.0"
rand = "0.8.4"
digest = "0.8.1"
sha3 = "0.8.2"
rayon = "1.3.0"
rand_core = { version = "0.5", default-features = false }
rand_chacha = "0.3"
itertools = "0.9.0"
subtle = "2.4"
pasta_curves = "0.3.1"
neptune = "6.1"
generic-array = "0.14.4"
bellperson-nonnative = { version = "0.2.1", default-features = false }
rug = { version = "1.10", default-features = false, features = ["integer", "serde", "rand"] }

[features]
default = [ "bellperson/default", "bellperson-nonnative/default" ]
wasm = [ "bellperson/wasm", "bellperson-nonnative/wasm" ]
