[package]
name = "nova-snark"
version = "0.4.0"
authors = ["Srinath Setty <srinath@microsoft.com>"]
edition = "2018"
description = "Recursive zkSNARKs without trusted setup"
documentation = "https://docs.rs/nova-snark/"
readme = "README.md"
repository = "https://github.com/Microsoft/Nova"
license-file = "LICENSE"
keywords = ["zkSNARKs", "cryptography", "proofs"]

[dependencies]
bellperson = { git = "https://github.com/lurk-lang/bellperson", branch = "acs/wasm-support", version = "0.19", default-features = false, optional = true }
ff = "0.11.0"
merlin = "2.0.0"
rand = "0.8.4"
digest = "0.8.1"
sha3 = "0.8.2"
rayon = "1.3.0"
rand_core = { version = "0.5", default-features = false }
itertools = "0.9.0"
subtle = "2.4"
pasta_curves = "0.3.0"

[features]
default = [ "bellperson/default" ]
wasm = [ "bellperson/wasm" ]
